<article class="c-block-featured-product">
  {% if post.get_thumbnail %}
    <picture class="c-block__image">
      <img src="{{ post.thumbnail.src|resize(600,450) }}" />
    </picture>
  {% endif %}
  <div class="">
    <h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
    <p>{{ post.get_preview }}</p>
    {{ '$' ~ post._regular_price }}
    {{ '$' ~ post._sale_price }}
    <form class="o-cart" action="{{ post.link|apply_filters('woocommerce_add_to_cart_form_action') }}" method="post" enctype='multipart/form-data'>
      {{ fn('woocommerce_quantity_input') }}
      <button type="submit" name="add-to-cart" value="{{ post.id }}" class="o-button">Add to Cart</button>
    </form>
    {# {% do action('woocommerce_single_product_summary') %} #}
  </div>
</article>

