{% if post._regular_price or post._sale_price or post._price %}
  <div class="o-price{{ 'wholesale_customer' in user.roles|keys and post.wholesale_customer_wholesale_price ? ' o-price--wholesale'}}">
    {% if post._regular_price and post._sale_price %}
      <div>
        <span class="o-price__regular o-heading--m"><s>{{ '$' ~ post._regular_price }}</s></span>
        <span class="o-price__sale u-space--quarter--left">{{ '$' ~ post._sale_price }}</span>
      </div>
    {% else %}
      <span class="o-price__regular o-heading--m">{{ '$' ~ post._price }}</span>
    {% endif %}
    {% if 'wholesale_customer' in user.roles|keys and post.wholesale_customer_wholesale_price %}
      <span class="o-price__wholesale u-font--xs"><em>Wholesale price: {{ '$' ~ post.wholesale_customer_wholesale_price|number_format(2, '.', ',') }}</em></span>
    {% endif %}
    {% if post.minimum_allowed_quantity|length > 1 %}
      <div class="o-price__minimum u-font--xs"><em>*minimum order of {{ post.minimum_allowed_quantity }}</em></div>
    {% endif %}
  </div>
{% endif %}